@page "/pages/Students"

@using BlazorDownloadFile
@using CleanArchitecture.Blazor.Application.Features.Students.Caching
@using CleanArchitecture.Blazor.Application.Features.Students.Commands.AssignItinerary;
@using CleanArchitecture.Blazor.Application.Features.Students.DTOs
@using CleanArchitecture.Blazor.Application.Features.Students.Queries.GetById;
@using CleanArchitecture.Blazor.Application.Features.Students.Specifications
@using CleanArchitecture.Blazor.Application.Features.Students.Commands.Delete
@using CleanArchitecture.Blazor.Application.Features.Students.Commands.Import
@using CleanArchitecture.Blazor.Application.Features.Students.Queries.Export
@using CleanArchitecture.Blazor.Application.Features.Students.Queries.Pagination
@using CleanArchitecture.Blazor.Application.Features.Students.Commands.AddEdit

@inherits FluxorComponent
@inject IJSRuntime JS
@inject IStringLocalizer<Students> L
@attribute [Authorize(Policy = Permissions.Students.View)]
<PageTitle>@Title</PageTitle>
<style>
    .mud-table-toolbar {
        height: 120px !important;
    }
</style>

<MudDataGrid ServerData="@(ServerReload)"
             FixedHeader="true"
             FixedFooter="true"
             Virtualize="true"
             @bind-RowsPerPage="_defaultPageSize"
             Height="calc(100vh - 330px)"
             Loading="@_loading"
             MultiSelection="true"
             @bind-SelectedItems="_selectedItems"
             @bind-SelectedItem="_currentDto"
             Hover="true" @ref="_table">
    <ToolBarContent>
        <div class="d-flex align-start flex-grow-1">
            <div class="d-flex gap-4">
                <MudIcon Icon="@Icons.Material.Filled.Groups" Size="Size.Large" />
                <div class="d-flex flex-column">
                    <MudText Typo="Typo.caption">@Title</MudText>
                    <MudEnumSelect Style="min-width:120px" TEnum="StudentListView" ValueChanged="OnChangedListView" Value="Query.ListView" Dense="true" Label="List View">
                    </MudEnumSelect>
                </div>
            </div>
            <div class="flex-grow-1" />

            <div class="d-flex flex-column justify-end">
                <div class="d-flex">
                    <MudHidden Breakpoint="Breakpoint.SmAndDown">
                        <MudButton DisableElevation Variant="Variant.Outlined"
                                   Size="Size.Small"
                                   Disabled="@_loading"
                                   OnClick="@(()=>OnRefresh())"
                                   StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Primary"
                                   Style="margin-right: 4px; margin-bottom:4px">@ConstantString.Refresh</MudButton>
                        @if (_canCreate)
                        {
                            <MudButton DisableElevation Variant="Variant.Outlined" Color="Color.Primary"
                                       StartIcon="@Icons.Material.Filled.Add"
                                       Size="Size.Small"
                                       Disabled="@_loading"
                                       OnClick="OnCreate"
                                       Style="margin-right: 4px; margin-bottom:4px"
                                       IconColor="Color.Surface">@ConstantString.New</MudButton>
                            <MudButton DisableElevation Variant="Variant.Outlined" Color="Color.Primary"
                                       StartIcon="@Icons.Material.Filled.ContentCopy"
                                       Size="Size.Small"
                                       Disabled="@(_selectedItems.Count!=1)"
                                       OnClick="OnClone"
                                       Style="margin-right: 4px; margin-bottom:4px"
                                       IconColor="Color.Surface">@ConstantString.Clone</MudButton>
                        }
                        @if (_canDelete)
                        {
                            <MudButton DisableElevation Variant="Variant.Outlined" Color="Color.Error"
                                       StartIcon="@Icons.Material.Filled.Delete"
                                       Disabled="@(!(_selectedItems.Count>0))"
                                       Size="Size.Small"
                                       Style="margin-right: 4px; margin-bottom:4px"
                                       OnClick="OnDeleteChecked"
                                       IconColor="Color.Surface">@ConstantString.Delete</MudButton>
                        }
                        @if (_canAssign)
                        {
                            <MudButton DisableElevation Variant="Variant.Outlined" Color="Color.Info"
                                       StartIcon="@Icons.Material.Filled.AssignmentInd"
                                       Disabled="@(!(_selectedItems.Count>0))"
                                       Size="Size.Small"
                                       Style="margin-right: 4px; margin-bottom:4px"
                                       OnClick="OnAssignItinerary"
                                       IconColor="Color.Surface">@L["Assign Itinerary"]</MudButton>
                        }
                        @if (_canExport)
                        {
                            <MudLoadingButton @bind-Loading="_exporting" DisableElevation Variant="Variant.Outlined" Color="Color.Primary"
                                              Label="@ConstantString.Export"
                                              Disabled="@_loading"
                                              StartIcon="@Icons.Custom.FileFormats.FileExcel"
                                              Size="Size.Small"
                                              Style="margin-right: 4px; margin-bottom:4px"
                                              OnClick="OnExport"
                                              IconColor="Color.Surface">
                                @ConstantString.Export
                            </MudLoadingButton>
                        }
                        @if (_canImport)
                        {
                            <MudFileUpload T="IBrowserFile" FilesChanged="OnImportData" Accept=".xlsx" Style="margin-top:0px">
                                <ButtonTemplate>
                                    <MudButton HtmlTag="label"
                                               Size="Size.Small"
                                               Variant="Variant.Outlined"
                                               Color="Color.Primary"
                                               Disabled="@_loading"
                                               StartIcon="@Icons.Material.Filled.Upload"
                                               for="@context">
                                        @if (_uploading)
                                        {
                                            <MudProgressCircular Size="Size.Small" Indeterminate="true" />
                                            @ConstantString.Uploading
                                        }
                                        else
                                        {
                                            @ConstantString.Import
                                        }
                                    </MudButton>
                                </ButtonTemplate>
                            </MudFileUpload>
                        }
                    </MudHidden>
                    <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
                        @if (_canCreate)
                        {
                            <MudButton DisableElevation Variant="Variant.Outlined" Color="Color.Primary"
                                       StartIcon="@Icons.Material.Filled.Add"
                                       Size="Size.Small"
                                       Disabled="@_loading"
                                       OnClick="OnCreate"
                                       Style="margin-right: 4px; margin-bottom:4px"
                                       IconColor="Color.Surface">@ConstantString.New</MudButton>
                        }
                        @if (_canDelete)
                        {
                            <MudButton DisableElevation Variant="Variant.Outlined" Color="Color.Error"
                                       StartIcon="@Icons.Material.Filled.Delete"
                                       Disabled="@(!(_selectedItems.Count>0))"
                                       Size="Size.Small"
                                       Style="margin-right: 4px; margin-bottom:4px"
                                       OnClick="OnDeleteChecked"
                                       IconColor="Color.Surface">@ConstantString.Delete</MudButton>
                        }
                    </MudHidden>
                </div>
                @if (_canSearch)
                {
                    <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Value="@Query.Keyword" Placeholder="@ConstantString.Search" Adornment="Adornment.End"
                                  AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Small"></MudTextField>
                }

            </div>
        </div>
    </ToolBarContent>
    <Columns>
        <SelectColumn ShowInFooter="false"></SelectColumn>
        <TemplateColumn CellStyle="width:60px" Title="@ConstantString.Actions" Sortable="false">
            <CellTemplate>
                @if (_canEdit || _canDelete)
                {
                    <MudMenu Icon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" DisableElevation="true" Size="Size.Small"
                             Dense="true"
                             EndIcon="@Icons.Material.Filled.KeyboardArrowDown" IconColor="Color.Info" AnchorOrigin="Origin.CenterLeft">
                        <MudMenuItem OnClick="@(()=>OnShowStudentInfo(context.Item))">@L["Show Details"]</MudMenuItem>
                        @if (_canEdit)
                        {
                            <MudMenuItem OnClick="@(()=>OnEdit(context.Item))">@ConstantString.Edit</MudMenuItem>
                        }
                        @if (_canDelete)
                        {
                            <MudMenuItem OnClick="@(()=>OnDelete(context.Item))">@ConstantString.Delete</MudMenuItem>
                        }
                    </MudMenu>
                }
                else
                {
                    <MudIconButton Variant="Variant.Filled" DisableElevation="true"
                                   Disabled="true"
                                   Icon="@Icons.Material.Filled.DoNotTouch"
                                   Size="Size.Small"
                                   Color="Color.Surface">
                        @ConstantString.NoAllowed
                    </MudIconButton>
                }
            </CellTemplate>
        </TemplateColumn>
        <PropertyColumn Property="x => x.DisplayName" Title="@L[_currentDto.GetMemberDescription(x=>x.DisplayName)]">
            <CellTemplate>
                <AvatarCard ImageUrl="@context.Item.ProfilePicture" Title="@context.Item.DisplayName" Subtitle="@context.Item.UID"></AvatarCard>
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Itinerary" Title="@L[_currentDto.GetMemberDescription(x=>x.Itinerary)]">
            <CellTemplate>
                <div class="d-flex flex-column">
                    <MudText Typo="Typo.body2">@context.Item.Itinerary?.Name</MudText>
                    <MudText Typo="Typo.body2" Class="mud-text-secondary">@context.Item.Itinerary?.Bus.PlatNumber</MudText>
                </div>
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Grade" Title="@L[_currentDto.GetMemberDescription(x=>x.Grade)]" />
        <PropertyColumn Property="x => x.Status" Title="@L[_currentDto.GetMemberDescription(x=>x.Status)]" />
        <PropertyColumn Property="x => x.Parents" Title="@L[_currentDto.GetMemberDescription(x=>x.Parents)]">
            <CellTemplate>

                @foreach (var item in context.Item.Parents)
                {
                    <MudTooltip Text="@item.DisplayName">
                        <MudAvatar Size="Size.Small" Class="mr-2">
                            <MudImage Src="@item.ProfilePicture"></MudImage>
                        </MudAvatar>
                    </MudTooltip>


                }

            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.School" Title="@L[_currentDto.GetMemberDescription(x=>x.School)]">
            <CellTemplate>
                @context.Item.School.Name
            </CellTemplate>
        </PropertyColumn>
        @if (UserProfile.IsSuperAdmin)
        {
            <PropertyColumn Property="x => x.Tenant" Title="@L[_currentDto.GetMemberDescription(x=>x.Tenant)]">
                <CellTemplate>
                    <div class="d-flex flex-column">
                        <MudText Typo="Typo.body2">@context.Item.Tenant.Name</MudText>
                        <MudText Typo="Typo.body2" Class="mud-text-secondary">@context.Item.TenantId</MudText>
                    </div>
                </CellTemplate>
            </PropertyColumn>
        }
    </Columns>
    <NoRecordsContent>
        <MudText>@ConstantString.NoRecords</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>@ConstantString.Loading</MudText>
    </LoadingContent>
    <PagerContent>
        <MudDataGridPager PageSizeOptions="@(new int[]{10,15,30,50,100,500,1000})" />
    </PagerContent>
</MudDataGrid>

<MudDrawer @bind-Open="@_open" Anchor="Anchor.End" Elevation="1" Variant="DrawerVariant.Temporary">
    <MudDrawerHeader>
        <MudText Typo="Typo.h6">@L["Student Information"]</MudText>
    </MudDrawerHeader>
    <div class="d-flex flex-column gap-2 px-2">
        @if (_searching == true)
        {
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-2" />
        }
        else
        {
            if (StudentInfo is not null)
            {
                <MudPaper Class="d-flex flex-row gap-2 align-content-center justify-space-between" Elevation="3">
                    <div class="d-flex align-self-center gap-2 px-3">
                        <MudAvatar Size="Size.Large">
                            <MudImage Src="@StudentInfo.ProfilePicture"></MudImage>
                        </MudAvatar>
                        <div class="d-flex flex-column align-self-center flex-grow-1 ml-2">
                            <p class="mud-text-secondary">@StudentInfo.School.Name</p>
                            <p>@StudentInfo.DisplayName</p>
                        </div>
                    </div>
                    <div class="d-flex flex-column align-self-center">
                        <MudBarcode Height="100" Width="100" Value="@StudentInfo.UID"></MudBarcode>
                    </div>
                </MudPaper>

                <TransportLogCard StudentId="@StudentInfo.Id"></TransportLogCard>
            }
        }
    </div>

</MudDrawer>

@code {

    public string? Title { get; private set; }
    private int _defaultPageSize = 15;
    private HashSet<StudentDto> _selectedItems = new HashSet<StudentDto>();
    private MudDataGrid<StudentDto> _table = default!;
    private StudentDto _currentDto = new();
    private bool _loading;
    private bool _uploading;
    private bool _downloading;
    private bool _exporting;
    private bool _open;
    private bool _searching;

    private StudentDto? StudentInfo { get; set; }
    [Inject]
    private IState<UserProfileState> UserProfileState { get; set; } = null!;
    private UserProfile UserProfile => UserProfileState.Value.UserProfile;


    [Inject]
    private IMapper Mapper { get; set; } = default!;
    [CascadingParameter]
    private Task<AuthenticationState> AuthState { get; set; } = default!;

    private StudentsWithPaginationQuery Query { get; set; } = new();
    [Inject]
    private IBlazorDownloadFileService BlazorDownloadFileService { get; set; } = null!;
    private bool _canSearch;
    private bool _canCreate;
    private bool _canEdit;
    private bool _canDelete;
    private bool _canImport;
    private bool _canExport;
    private bool _canAssign;

    protected override async Task OnInitializedAsync()
    {
        Title = L[_currentDto.GetClassDescription()];
        var state = await AuthState;
        _canCreate = (await AuthService.AuthorizeAsync(state.User, Permissions.Students.Create)).Succeeded;
        _canSearch = (await AuthService.AuthorizeAsync(state.User, Permissions.Students.Search)).Succeeded;
        _canEdit = (await AuthService.AuthorizeAsync(state.User, Permissions.Students.Edit)).Succeeded;
        _canDelete = (await AuthService.AuthorizeAsync(state.User, Permissions.Students.Delete)).Succeeded;
        _canImport = (await AuthService.AuthorizeAsync(state.User, Permissions.Students.Import)).Succeeded;
        _canExport = (await AuthService.AuthorizeAsync(state.User, Permissions.Students.Export)).Succeeded;
        _canAssign = (await AuthService.AuthorizeAsync(state.User, Permissions.Students.Assign)).Succeeded;
    }
    private async Task<GridData<StudentDto>> ServerReload(GridState<StudentDto> state)
    {
        try
        {
            _loading = true;
            Query.CurrentUser = UserProfile;
            Query.OrderBy = state.SortDefinitions.FirstOrDefault()?.SortBy ?? "Id";
            Query.SortDirection = state.SortDefinitions.FirstOrDefault()?.Descending ?? true ? SortDirection.Descending.ToString() : SortDirection.Ascending.ToString();
            Query.PageNumber = state.Page + 1;
            Query.PageSize = state.PageSize;
            var result = await Mediator.Send(Query).ConfigureAwait(false);
            return new GridData<StudentDto>() { TotalItems = result.TotalItems, Items = result.Items };
        }
        finally
        {
            _loading = false;
        }

    }

    async void OnShowStudentInfo(StudentDto item)
    {
        _open = true;
        try
        {
            _searching = true;
            var result = await Mediator.Send(new GetStudentByIdQuery(item.Id));
            StudentInfo = result;

        }
        finally
        {
            _searching = false;
            StateHasChanged();
        }


    }

    private async Task OnSearch(string text)
    {
        _selectedItems = new();
        Query.Keyword = text;
        await _table.ReloadServerData();
    }
    private async Task OnChangedListView(StudentListView listview)
    {
        Query.ListView = listview;
        await _table.ReloadServerData();
    }
    private async Task OnRefresh()
    {
        StudentCacheKey.Refresh();
        _selectedItems = new();
        Query.Keyword = string.Empty;
        await _table.ReloadServerData();
    }
    private async Task OnAssignItinerary()
    {
        if (_selectedItems.Select(x => x.TenantId).Distinct().Count() > 1)
        {
            var alert = DialogService.Show<AlertDialog>(L["Message"], new DialogParameters<AlertDialog>
            {
                {x=>x.ContentText,L["You can only select students from the same organization."]}

            }, new DialogOptions { CloseButton = false, MaxWidth = MaxWidth.Small, FullWidth = true });
            return;
        }

        var command = new AssignItineraryCommand() { TenantId = _selectedItems.First().TenantId, Itinerary = null, Students = _selectedItems.ToList() };
        var parameters = new DialogParameters
            {
                { nameof(AssignItineraryDialog.UserProfile),UserProfile },
                { nameof(AssignItineraryDialog.model),command },
 
            };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Medium, FullWidth = true };
        var dialog = DialogService.Show<AssignItineraryDialog>
        (L["Assign Itinerary"], parameters, options);
        var state = await dialog.Result;
        if (!state.Canceled)
        {
            await _table.ReloadServerData();
        }
    }
    private async Task OnCreate()
    {
        var command = new AddEditStudentCommand() { ProfilePicture = "/img/kid.webp", TenantId = UserProfile.TenantId, Status = "OK" };
        var parameters = new DialogParameters
            {
                { nameof(_StudentFormDialog.UserProfile),UserProfile },
                { nameof(_StudentFormDialog.model),command },
            };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Medium, FullWidth = true };
        var dialog = DialogService.Show<_StudentFormDialog>
        (L["Create a new item"], parameters, options);
        var state = await dialog.Result;
        if (!state.Canceled)
        {
            await _table.ReloadServerData();
        }
    }
    private async Task OnClone()
    {
        var copyitem = _selectedItems.First();
        var command = new AddEditStudentCommand()
            {
                FirstName = copyitem.FirstName,
                LastName = copyitem.LastName,
                Phone = copyitem.Phone,
                ProfilePicture = "/img/kid.webp",
                Status = "",
                UID = "",
                TenantId = copyitem.TenantId,
                Description = copyitem.Description,
            };
        var parameters = new DialogParameters
            {
                { nameof(_StudentFormDialog.UserProfile),UserProfile },
                { nameof(_StudentFormDialog.model),command },
            };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Medium, FullWidth = true };
        var dialog = DialogService.Show<_StudentFormDialog>
        (L["Create a new item"], parameters, options);
        var state = await dialog.Result;
        if (!state.Canceled)
        {
            await _table.ReloadServerData();
            _selectedItems.Remove(copyitem);
        }
    }
    private async Task OnEdit(StudentDto dto)
    {
        var command = Mapper.Map<AddEditStudentCommand>(dto);
        var parameters = new DialogParameters
            {
                { nameof(_StudentFormDialog.UserProfile),UserProfile },
                { nameof(_StudentFormDialog.model),command },
            };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Medium, FullWidth = true };
        var dialog = DialogService.Show<_StudentFormDialog>
        (L["Edit the item"], parameters, options);
        var state = await dialog.Result;
        if (!state.Canceled)
        {
            await _table.ReloadServerData();
        }
    }

    private async Task OnDelete(StudentDto dto)
    {
        var command = new DeleteStudentCommand(new int[] { dto.Id });
        var parameters = new DialogParameters
           {
             { nameof(DeleteConfirmation.Command),  command },
             { nameof(DeleteConfirmation.ContentText), string.Format(ConstantString.DeleteConfirmation, dto.DisplayName) }
           };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true, DisableBackdropClick = true };
        var dialog = DialogService.Show<DeleteConfirmation>(ConstantString.DeleteConfirmationTitle, parameters, options);
        var state = await dialog.Result;
        if (!state.Canceled)
        {
            await _table.ReloadServerData();
            _selectedItems.Remove(dto);
        }
    }

    private async Task OnDeleteChecked()
    {
        var command = new DeleteStudentCommand(_selectedItems.Select(x => x.Id).ToArray());
        var parameters = new DialogParameters
                        {
                             { nameof(DeleteConfirmation.Command),  command },
                             { nameof(DeleteConfirmation.ContentText), string.Format(ConstantString.DeleteConfirmWithSelected,_selectedItems.Count) }
                        };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall, FullWidth = true, DisableBackdropClick = true };
        var dialog = DialogService.Show<DeleteConfirmation>(ConstantString.DeleteConfirmationTitle, parameters, options);
        var state = await dialog.Result;
        if (!state.Canceled)
        {
            await _table.ReloadServerData();
            _selectedItems = new();
        }
    }

    private async Task OnExport()
    {
        _exporting = true;
        var request = new ExportStudentsQuery()
            {
                Keyword = Query.Keyword,
                CurrentUser = UserProfile,
                ListView = Query.ListView,
                OrderBy = _table.SortDefinitions.Values.FirstOrDefault()?.SortBy ?? "Id",
                SortDirection = (_table.SortDefinitions.Values.FirstOrDefault()?.Descending ?? true) ? SortDirection.Descending.ToString() : SortDirection.Ascending.ToString()
            };
        var result = await Mediator.Send(request);
        if (result.Succeeded)
        {
            var downloadresult = await BlazorDownloadFileService.DownloadFile($"{L["Students"]}.xlsx", result.Data, contentType: "application/octet-stream");
            Snackbar.Add($"{ConstantString.ExportSuccess}", MudBlazor.Severity.Info);
        }
        else
        {
            Snackbar.Add($"{result.ErrorMessage}", MudBlazor.Severity.Error);
        }
        _exporting = false;
    }
    private async Task OnImportData(IBrowserFile file)
    {
        _uploading = true;
        var stream = new MemoryStream();
        await file.OpenReadStream().CopyToAsync(stream);
        var command = new ImportStudentsCommand(file.Name, stream.ToArray());
        var result = await Mediator.Send(command);
        if (result.Succeeded)
        {
            await _table.ReloadServerData();
            Snackbar.Add($"{ConstantString.ImportSuccess}", MudBlazor.Severity.Info);
        }
        else
        {
            foreach (var msg in result.Errors)
            {
                Snackbar.Add($"{msg}", MudBlazor.Severity.Error);
            }
        }
        _uploading = false;
    }

}