@page "/mobile/starttrip"
@inject NavigationManager NavigationManager
<PageTitle>Start Trip</PageTitle>
<MudPaper Elevation="0" Class="d-flex flex-column justify-center flex-grow-1 pa-4 mt-10">
    <MudText Typo="Typo.h3" Align="Align.Center">Customize today's trip</MudText>
    <div class="d-flex flex-column justify-center gap-2 align-self-center my-4">
        <MudAvatar Size="Size.Large" Image="/img/driver.jpg" Style="height:160px; width:160px; font-size:2rem;"></MudAvatar>
        <MudText Align="Align.Center" Typo="Typo.h6">John Anderson</MudText>
        <MudText Align="Align.Center" >Bus driver / 132 trips</MudText>
    </div>
    <MudDivider />
    <MudForm>
       <div class="d-flex flex-column justify-center gap-2 align-self-center my-4">
            <MudSelect T="string" Label="Select your bus" Placeholder="Select your bus" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                <MudSelectItem T="string" Value="@("Bus #1 - 69-929L")" />
                <MudSelectItem T="string" Value="@("Bus #2 - 23-176L")" />
                <MudSelectItem T="string" Value="@("Bus #3 - 86-364L")" />
            </MudSelect>
            <MudSelect T="string" Label="Select your start location" Placeholder="Select your start location" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                <MudSelectItem T="string" Value="@("2285 South Federal Blvd")" />
                <MudSelectItem T="string" Value="@("location xxx 2")" />
                <MudSelectItem T="string" Value="@("location xxx 3")" />
            </MudSelect>
            <MudSelect T="string" Label="Select your final location" Placeholder="Select your final location" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                <MudSelectItem T="string" Value="@("2160 Cook Street")" />
                <MudSelectItem T="string" Value="@("location yyy 2")" />
                <MudSelectItem T="string" Value="@("location yyy 3")" />
            </MudSelect>
            <MudButton Class="my-3" Size="Size.Large" Variant="Variant.Filled" Color="Color.Primary" OnClick="@(()=>NavigationManager.NavigateTo("/mobile/triponmap"))">Start a trip</MudButton>
       </div>
    </MudForm>
</MudPaper>
@code {

}
